.createquiz-wrapper {
    display: flex;
    align-items: flex-start;
    width: 100%;
}
.createquiz-wrapper .main {
    margin-left: 100px;
    width: 100%;
    padding-top: 35px;
    font-family: 'Ubuntu', sans-serif;
}

.createquiz-wrapper .btn {
    display: flex;
    width: 50%;
    
}