.navbar-wrapper {
    background-color: rgb(98, 202, 228);
    height: 100vh;
    padding: 30px;
    font-size: 1.2rem;
    text-decoration: none;
}
.navbar-wrapper .header {
    padding-bottom: 15px;
}

.navbar-wrapper .name {
    padding-bottom: 12px;
    font-size: 25px;
}

a {
    text-decoration: none;
}
